<h1>Articles listing page</h1>

<!-- This section of the code defines a table to display a list of articles -->
<table>
  <!-- This section defines the table header, which includes column labels -->
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <!-- This section defines the table body, which includes the actual article data -->
  <tbody>
    <!-- This line of code uses an iterator to loop through each article in the @articles variable -->
    <% @articles.each do |article| %>
    <tr>
      <!-- This line of code displays the title of the current article in a table cell -->
      <td><%= article.title %></td>
      <!-- This line of code displays the description of the current article in a table cell -->
      <td><%= article.description %></td>
      <!-- This line of code creates a placeholder table cell for the "actions" column -->
      <td>
          <button><%= link_to 'Edit', edit_article_path(article) %></button>
          <button><%= link_to 'Show', article_path(article) %></button>
          <div style="display: inline-block;"><%= button_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></div>
      </td>
    </tr>
    <!-- This line of code ends the iterator loop -->
    <% end %>
  </tbody>
</table>

<button><%= link_to 'Create article', new_article_path %></button>